doctype html
html
  body
    div Hello #{templateData.name} <br>
    <br>
    div We've received your request for a single-use code to use with your #{templateData.title} Account.<br>
    <br>
    div Your single-use code is: #{templateData.otp}<br>
    <br>
    div Thanks,
    div The #{templateData.title} team
    