extends ./layout.pug
block mailBody
  div.greetings Welcome to #{templateData.title} Support Dashboard.<br>
   <br>Here is your temporary password : <strong>#{templateData.otp}</strong><br>
   <br>Please use this password to login to your #{templateData.title} Support Dashboard. Change your password after login to complete the Sign Up process.

