extends ./layout.pug
block mailBody
  div.greetings Below is the verification code for the #{templateData.title} support team to access your account. Share this code to our support team member to allow them to access your account.The access window will be open for only 1 hour from the time of verification.
   <br><h1 style ="text-align:center;">#{templateData.otp}</h1> OTP is valid for 30 minutes only.

