extends ./layout.pug
block mailBody
  div.greetings To set new password,please use the below mentioned OTP.
   <br><h1 style ="text-align:center;">#{templateData.otp}</h1>Please not that this OTP will be valid for 10 minutes only.

